body {  font-family: Helvetica; 
	background-image: url('../assets/body-bg.png');
	background-repeat: repeat-y;
	background-size: 100% auto;
	color: #333;

}

* { box-sizing: border-box }

.wrapper {
	margin: 0 auto;
	padding: 0 1rem;
	max-width: 1400px;
}

/* Text Elements */
h1 { text-align: center }

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

li { margin-bottom: 1rem }

button {
	background-color: #f55024;
	border: 2px solid #f55024;
	color: white;
	font-weight: bold;
	letter-spacing: 1px;
	margin: .5rem 0;
	padding: 15px 30px;
	text-transform: uppercase;
	transition: .25s all;
}

button:hover,
button:focus,
button:active {
	background-color: white;
	color: #f55024;
}

/* Layout/Content */
.generator,
.output {
	max-width: 700px;
	margin: 2rem auto;
}

label {
	display: block;
	font-weight: bold;
	margin-bottom: 1rem;
}

textarea {
	border: none;
	border-radius: 0;
	display: block;
	font-size: 1.25rem;
	margin: 0 auto 1rem;
	min-height: 200px;
	padding: 1rem;
	transition: .25s all;
	width: 100%;
}


textarea:focus {
	background-color: #f3d2b2;
	outline: none;
}

#output-text-wrapper {
	background-color: white;
	border-radius: 5px;
	margin-bottom: 1rem;
	min-height: 200px;
	padding: 1rem;
}